In [10]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

[]

## This kernel will show you how to create a fake data using Faker package.

### Install the package on your machine

In [1]:
!pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/52/1a/930431923062857520bae512101a648ef528cd327583fda38d9e76fab5ce/Faker-1.0.7-py2.py3-none-any.whl (874kB)
    100% |████████████████████████████████| 880kB 25.8MB/s ta 0:00:01
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.6/site-packages (from Faker) (1.12.0)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.6/site-packages (from Faker) (2.6.0)
Collecting text-unidecode==1.2 (from Faker)
  Downloading https://files.pythonhosted.org/packages/79/42/d717cc2b4520fb09e45b344b1b0b4e81aa672001dd128c180fabc655c341/text_unidecode-1.2-py2.py3-none-any.whl (77kB)
    100% |████████████████████████████████| 81kB 38.5MB/s ta 0:00:01
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-1.0.7 text-unidecode-1.2
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from faker import Faker

### Start creating  a fake dataset

In [3]:
# Create fake data using Faker
fake_data = Faker()

We are going to create multiple lists of variables of length 200 and then put it all in one data set.

In [4]:
# Let's create a list of 200 fake names first
def create_names(n):
    name = []
    for _ in range(0, n):
        name.append(fake_data.name())
    return name

In [5]:
name = create_names(200)

In [6]:
# Check the first 10 results
name[:10]

['Ricardo Morris',
 'John Nicholson',
 'Thomas Warren',
 'Debbie Garcia',
 'Charles Flores',
 'Eric Chan',
 'David Cummings',
 'Sarah Hodge',
 'Christopher Brooks',
 'Michael Jones']

Everything seems to be correct

In [7]:
# Create a list of countries
def create_country(n):
    nation = []
    for _ in range(0, n):
        nation.append(fake_data.country())
    return nation

In [8]:
country = create_country(200)

In [30]:
country[:10]

['Thailand',
 'Mozambique',
 'Guinea',
 'Latvia',
 'Belize',
 'Serbia',
 'Thailand',
 'Bhutan',
 'Gambia',
 'Cyprus']

In [11]:
# Create a list of age from 21 to 98 (integers)
age = np.random.randint(21, 99, size = 200, dtype = 'int')

In [12]:
# Create a list fo fake dates
def create_date(n):
    member_since = []
    for _ in range(0, n):
        member_since.append(fake_data.date_this_century())
    return member_since

In [13]:
date = create_date(200)

In [14]:
# Create a list of fake jobs
def create_job(n):
    job = []
    for _ in range(0, n):
        job.append(fake_data.job())
    return job

In [15]:
occupation = create_job(200)

In [16]:
# Create a list of fake credit card types
def create_credit(n):
    card = []
    for _ in range(0, n):
        card.append(fake_data.credit_card_provider())
    return card

In [17]:
card = create_credit(200)

In [18]:
# Create a fake location in US
def create_location(n):
    location = []
    for _ in range(0, n):
        location.append(fake_data.local_latlng(country_code = "US"))
    return location

In [19]:
location = create_location(200)

In [21]:
# Create a list of values 0 and 1, where 1 = married
married = np.random.randint(0,2, size = 200)

In [22]:
# Create a list of randomly picked races from the list of 4 races
def create_race(n):
    race = []
    for _ in range(0, n):
        race.append(fake_data.random_element(elements = ("White", "Hispanic", "Black", "Asian")))
    return race

In [23]:
races = create_race(200)

In [24]:
# Now create 3 list of integers just to have some numerical data
salary = np.random.randint(10000, 120000, size = 200, dtype = 'int')
savings = np.random.randint(0, 50000, size = 200, dtype = 'int')
rent = np.random.randint(500, 3001, size = 200, dtype = 'int')

In [25]:
# Now, connect all columns into one data set
data = pd.DataFrame(list(zip(name, country, age, date, occupation, card, location, married,
                            races, salary, savings, rent)),
                   columns = ['Name', 'Place_of_Birth', 'Age', 'Member_Since', 'Job',
                              'Card', 'Location', 'Married', 'Race', 'Salary', 'Savings',
                              'Rent'])

In [26]:
# Let's see how the data looks like
data.head()

             Name Place_of_Birth  Age  ...  Salary Savings  Rent
0  Ricardo Morris       Thailand   87  ...   58543   30869  2343
1  John Nicholson     Mozambique   91  ...   69602   26949  1090
2   Thomas Warren         Guinea   27  ...   45190   22721  2766
3   Debbie Garcia         Latvia   84  ...   59900   20287   652
4  Charles Flores         Belize   76  ...   17024   13732   765

[5 rows x 12 columns]

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
Name              200 non-null object
Place_of_Birth    200 non-null object
Age               200 non-null int64
Member_Since      200 non-null object
Job               200 non-null object
Card              200 non-null object
Location          200 non-null object
Married           200 non-null int64
Race              200 non-null object
Salary            200 non-null int64
Savings           200 non-null int64
Rent              200 non-null int64
dtypes: int64(5), object(7)
memory usage: 18.8+ KB

In [28]:
# Perfect, let's create another set based on time
datelist = pd.date_range('2010-01-01', periods = 200)
sales = np.random.randint(100, 1100, size = 200, dtype = 'int')
profit = np.random.uniform(10000, 1000000, size = 200)

data2 = pd.DataFrame(list(zip(datelist, sales, profit)),
                   columns = ['Date', 'Sales', 'Profit'])

In [29]:
data2.head()

        Date  Sales         Profit
0 2010-01-01    141  762287.941915
1 2010-01-02    510  132858.722558
2 2010-01-03   1014  558114.234005
3 2010-01-04    202  594040.294743
4 2010-01-05    885  970232.281536

### There you have it!

## For more, go to Faker Documentation